.container {
  background-color: #e5e5e5;
  width: 389px;
}

nav {
  width: 20.188rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1.5rem;
}

.flex {
  display: flex;
}

a {
  text-decoration: none;
}

header {
  background-color: #fff;
  background-image: url("../img/header-shapes-mobile.png");
  background-repeat: no-repeat;
  margin: 1.625rem 0;
  width: 28.875rem;
  height: 36.697rem;
  border-bottom-left-radius: 80px;
}

h1 {
  height: 9.375rem;
  width: 15rem;
  margin: 0.75rem 1.5rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
}

header p {
  width: 20.438rem;
  margin: 0 1.5rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  /* or 150% */

  color: #344563;
}

h5 {
  margin: 0.75rem 1.5rem;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #7f8cff;
  width: 7.313rem;
  height: 1.5rem;
}

ul {
  list-style-type: none;
}

header ul {
  width: 9.75rem;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem;
}

header li {
  margin-left: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  width: 375px;
}

.content {
  margin-top: 248px;
  margin-right: 16px;
  margin-left: 16px;
  margin-bottom: 12px;
  height: 80px;
}
